/* Spacing */
/* Colors */
/* Typography */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding-bottom: 5rem;
}

body {
  font-family: "Space Mono", monospace;
  background-color: hsl(185, 41%, 84%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0 1rem;
}

#container {
  background-color: hsl(0, 100%, 100%);
  border-radius: 25px;
  padding: 2rem;
  display: flex;
  gap: 3rem;
  min-height: 30rem;
  max-width: 57.5rem;
  box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.2007);
}

.input-icon-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.input-icon-wrapper .input-icon {
  position: absolute;
  height: 1rem;
  width: auto;
  color: hsl(184, 19%, 68%);
  padding-left: 1rem;
  pointer-events: none;
}

#input-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem 0;
  width: 100%;
}
#input-section h1, #input-section h2, #input-section h3 {
  font-family: "Space Mono", monospace;
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  letter-spacing: 0;
  color: hsl(186, 14%, 43%);
  padding-bottom: 0.5rem;
}
#input-section #bill-amount, #input-section #people-number {
  padding-left: 40px;
  padding-right: 1rem;
  background-color: hsl(189, 47%, 97%);
  width: 100%;
  border: none;
  font-family: "Space Mono", monospace;
  font-size: 1.5rem; /* 24px */
  line-height: 2.25rem; /* 36px */
  letter-spacing: 0rem;
  color: hsl(183, 100%, 15%);
  text-align: right;
}
#input-section input[type=number]::-moz-placeholder {
  text-align: right;
  color: rgba(0, 71, 75, 0.35);
}
#input-section input[type=number]::placeholder {
  text-align: right;
  color: rgba(0, 71, 75, 0.35);
}
#input-section #custom-tip::-moz-placeholder {
  text-align: center;
}
#input-section #custom-tip::placeholder {
  text-align: center;
}
#input-section input::-webkit-outer-spin-button,
#input-section input::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Chrome, Safari, Edge */
  margin: 0;
}
#input-section #tip-wrapper {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  gap: 1rem;
}
#input-section .tip-btn {
  background-color: hsl(183, 100%, 15%);
  color: hsl(189, 47%, 97%);
  height: 3rem;
  min-width: 116px;
  border-radius: 0.313rem;
  box-shadow: none;
  border: none;
  cursor: pointer;
  font-family: "Space Mono", monospace;
  font-size: 1.5rem; /* 24px */
  line-height: 2.25rem; /* 36px */
  letter-spacing: 0rem;
}
#input-section .tip-btn:active {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
  border: none;
}
#input-section .tip-btn:focus {
  background-color: hsl(173, 61%, 77%);
  color: hsl(183, 100%, 15%);
  border: none;
}
#input-section #custom-tip {
  border-radius: 5px;
  background-color: hsl(189, 47%, 97%);
  font-family: "Space Mono", monospace;
  font-size: 1.5rem; /* 24px */
  line-height: 2.25rem; /* 36px */
  letter-spacing: 0rem;
  color: hsl(180, 18%, 40%);
  text-align: center;
  height: 3rem;
  max-width: 116px;
}

input[type=number] {
  -webkit-appearance: textfield;
          appearance: textfield;
  -moz-appearance: textfield; /* Firefox */
}

#output-section {
  background-color: hsl(183, 100%, 15%);
  border-radius: 15px;
  color: hsl(0, 100%, 100%);
  width: 100%;
  height: auto;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
}
#output-section .output-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1.5rem;
}
#output-section .output-line h4 {
  font-family: "Space Mono", monospace;
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  letter-spacing: 0;
  color: hsl(0, 100%, 100%);
}
#output-section .output-line h5 {
  font-family: "Space Mono", monospace;
  font-size: 0.813rem; /* 13px */
  line-height: 1.188rem; /* 19px */
  letter-spacing: 0;
  color: hsl(184, 14%, 56%);
}
#output-section .output-line #tip-amount, #output-section .output-line #total-amount {
  font-family: "Space Mono", monospace;
  font-size: 3rem; /* 48px */
  line-height: 4.438rem; /* 71px */
  letter-spacing: -1px;
  color: hsl(0, 0%, 0%);
  color: hsl(172, 67%, 45%);
}
#output-section #reset-button {
  background-color: hsl(183, 79%, 24%);
  color: hsl(183, 100%, 15%);
  width: 100%;
  height: 2.875rem;
  font-family: "Space Mono", monospace;
  font-size: 1.25rem; /* 20px */
  line-height: 1.875rem; /* 30px */
  letter-spacing: 0rem;
  border-radius: 5px;
  cursor: pointer;
  margin-top: auto;
  border: none;
}

@media (max-width: 785px) {
  header {
    padding: 2rem;
  }
  #container {
    flex-direction: column;
    max-width: 38rem;
    height: auto;
    padding: 3rem 5rem;
  }
  #container #input-section {
    gap: 1.5rem;
  }
}
@media (max-width: 400px) {
  body {
    margin: 0;
  }
  #container {
    padding: 2rem 1.5rem;
  }
  #output-section .output-line #tip-amount, #output-section .output-line #total-amount {
    font-family: "Space Mono", monospace;
    font-size: 2rem;
  }
}/*# sourceMappingURL=style.css.map */