@use './variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
    padding-bottom: $spacing-1000;
}

body {
    font-family: $font-family;
    background-color: $grey-200;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

#container {
    background-color: $white;
    border-radius: 25px;
    padding: $spacing-400;
    display: flex;
    gap: $spacing-300;
    min-height: 30rem;
    max-width: 57.5rem;
    box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.2007);
}

.input-icon-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    
    .input-icon {
        position: absolute;
        height: 1rem;
        width: auto;
        color: $grey-300;
        padding-left: $spacing-200;
        pointer-events: none;
        }
}

#input-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $spacing-100 $spacing-200;

     h1, h2, h3 {
        @include text-preset-5; 
        color: $grey-500;
        padding-bottom: $spacing-100;
    }     

    #bill-amount, #people-number {
        padding-left: 40px;
        padding-right: $spacing-200;
        background-color: $grey-50;
        width: 100%;
        border: none;
        @include text-preset-3;
        color: $green-900;
        text-align: right;
    }

    input[type="number"]::placeholder {
        text-align: right;
        color: rgba(0, 71, 75, 0.35);
    }

    #custom-tip::placeholder {
        text-align: center;
    }


    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none; /* Chrome, Safari, Edge */
        margin: 0;
    }



    #tip-wrapper {
        display: flex;
        list-style-type: none;
        flex-wrap: wrap;
        gap: $spacing-200;
    }

    .tip-btn {
        @include tip-button;
    }

    #custom-tip {
        border: none;
        border-radius: 5px;
        background-color: $grey-50;
        @include text-preset-3;
        color: $grey-550;
        text-align: center;
        height: 3rem;
        max-width: 116px;
    }

}

input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield; /* Firefox */
}

#output-section {
    background-color: $green-900;
    border-radius: 15px;
    color: $white;
    min-width: 25.8rem;
    height: auto;
    padding: $spacing-300 $spacing-400;
    display: flex;
    flex-direction: column;

    .output-line {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: $spacing-300;

        h4 {
            @include text-preset-5;
            color: $white;
        }

        h5 {
            @include text-preset-6;
            color: $grey-400;
        }

        #tip-amount, #total-amount {
            @include text-preset-1;
            color: $green-400;
        }
    }

    #reset-button {
        background-color: $green-750;
        color: $green-900;
        width: 100%;
        height: 2.875rem;
        @include text-preset-4;
        border-radius: 5px;
        cursor: pointer;
        margin-top: auto;
        border: none;
    }
}
