@use './variables' as *;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
    padding-bottom: $spacing-1000;
}

body {
    font-family: $font-family;
    background-color: $grey-200;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0 1rem;
}

#container {
    background-color: $white;
    border-radius: 25px;
    padding: $spacing-400;
    display: flex;
    gap: $spacing-600;
    min-height: 30rem;
    max-width: 57.5rem;
    box-shadow: 0px 32px 43px rgba(79, 166, 175, 0.2007);
}

.input-icon-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    
    .input-icon {
        position: absolute;
        height: 1rem;
        width: auto;
        color: $grey-300;
        padding-left: $spacing-200;
        pointer-events: none;
    }
}

#input-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: $spacing-100 0;
    width: 100%;

     h1, h2, h3 {
        @include text-preset-5; 
        color: $grey-500;
        padding-bottom: $spacing-100;
    }     

    #bill-amount, #people-number {
        padding-left: 40px;
        padding-right: $spacing-200;
        background-color: $grey-50;
        width: 100%;
        border: none;
        @include text-preset-3;
        color: $grey-500;
        text-align: right;
    }
    #bill-amount:focus, #people-number:focus {
        outline: 2px solid $green-400;
    }

    input[type="number"]::placeholder {
        text-align: right;
        color: rgba(0, 71, 75, 0.35);
    }

    #custom-tip::placeholder {
        text-align: center;
        color: $grey-550;
    }

    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
        -webkit-appearance: none; /* Chrome, Safari, Edge */
        margin: 0;
    }

    #tip-wrapper {
        display: flex;
        list-style-type: none;
        flex-wrap: wrap;
        gap: $spacing-200;
    }

    .tip-btn {
        @include tip-button;
    }

    .tip-btn.selected,
    .tip-btn.selected:hover,
    .tip-btn.selected:focus,
    .tip-btn.selected:active {
        background-color: $green-200;
        color: $green-900;
    }

    #custom-tip {
        border-radius: 5px;
        background-color: $grey-50;
        @include text-preset-3;
        text-align: center;
        height: 3rem;
        max-width: 116px;
        border: none;
    }

    .label-row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

input[type=number] {
    appearance: textfield;
    -moz-appearance: textfield; /* Firefox */
}

.error { 
    color: red; 
} 
.hidden { 
    display: none; 
}
.red-line{
    border: 2px solid red;
}

#output-section {
    background-color: $green-900;
    border-radius: 15px;
    color: $white;
    width: 100%;
    height: auto;
    padding: $spacing-300 $spacing-400;
    display: flex;
    flex-direction: column;

    .output-line {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: $spacing-300;

        h4 {
            @include text-preset-5;
            color: $white;
        }

        h5 {
            @include text-preset-6;
            color: $grey-400;
        }

        #tip-amount, #total-amount {
            @include text-preset-1;
            color: $green-400;
        }
    }

    #reset-button {
        width: 100%;
        height: 2.875rem;
        @include text-preset-4;
        border-radius: 5px;
        cursor: pointer;
        margin-top: auto;
        border: none;
        text-transform: uppercase;
    }
    #reset-button:disabled {
            background-color: $green-800;
            color: $green-750;
            border: none;
        }
}


#reset-button.active {
    background-color: $green-200;
    color: $green-900;
}

#reset-button.ready{
    background-color: $green-400;
    color: $green-900;
}

//Responsive styles

@media (max-width: 785px) {

    header {
        padding: $spacing-400;
    }

    #container {
        flex-direction: column;
        max-width: 38rem;
        height: auto;
        padding: $spacing-600 $spacing-1000;

        #input-section {
            gap: $spacing-300;
        }
    }
}

@media (max-width: 575px) {

    #container {
        padding: $spacing-400 $spacing-600;
    }
}

@media (max-width: 400px) {

    body {
        margin: 0;
    }

    #container {
        padding: $spacing-400 $spacing-300;
    }

    #output-section {
        .output-line {
            #tip-amount, #total-amount {
                font-family: 'Space Mono', monospace;
                font-size: 2rem;
            }
        }
    }
}
