/* Spacing */
/* Colors */
/* Typography */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  padding-bottom: 5rem;
}

body {
  font-family: "Space Mono", monospace;
  background-color: hsl(185, 41%, 84%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
}

#container {
  background-color: hsl(0, 100%, 100%);
  border-radius: 25px;
  padding: 2rem;
  display: flex;
  gap: 1.5rem;
  min-height: 30rem;
  max-width: 57.5rem;
}

.input-icon-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.input-icon-wrapper .input-icon {
  position: absolute;
  height: 1rem;
  width: auto;
  color: hsl(184, 19%, 68%);
  padding-left: 1rem;
  pointer-events: none;
}

#input-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.5rem 1rem;
}
#input-section h1, #input-section h2, #input-section h3 {
  font-family: "Space Mono", monospace;
  font-size: 1rem; /* 16px */
  line-height: 1.5rem; /* 24px */
  letter-spacing: 0;
  color: hsl(186, 14%, 43%);
  padding-bottom: 0.5rem;
}
#input-section #bill-amount, #input-section #people-number {
  padding-left: 40px;
  padding-right: 1rem;
  background-color: hsl(189, 47%, 97%);
  width: 100%;
  border: none;
  font-family: "Space Mono", monospace;
  font-size: 1.5rem; /* 24px */
  line-height: 2.25rem; /* 36px */
  letter-spacing: 0rem;
  color: hsl(183, 100%, 15%);
  text-align: right;
}
#input-section #bill-amount input[type=number]::-moz-placeholder, #input-section #people-number input[type=number]::-moz-placeholder {
  text-align: right;
  color: hsl(183, 100%, 15%);
}
#input-section #bill-amount input[type=number]::placeholder, #input-section #people-number input[type=number]::placeholder {
  text-align: right;
  color: hsl(183, 100%, 15%);
}
#input-section input::-webkit-outer-spin-button,
#input-section input::-webkit-inner-spin-button {
  -webkit-appearance: none; /* Chrome, Safari, Edge */
  margin: 0;
}
#input-section input[type=number] {
  -moz-appearance: textfield; /* Firefox */
}
#input-section #tip-wrapper {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  gap: 1rem;
}
#input-section .tip-btn {
  background-color: hsl(183, 100%, 15%);
  color: hsl(189, 47%, 97%);
  height: 3rem;
  min-width: 116px;
  border-radius: 0.313rem;
  cursor: pointer;
  font-family: "Space Mono", monospace;
  font-size: 1.5rem; /* 24px */
  line-height: 2.25rem; /* 36px */
  letter-spacing: 0rem;
}
#input-section .tip-btn:active {
  background-color: hsl(172, 67%, 45%);
  color: hsl(183, 100%, 15%);
}
#input-section .tip-btn:focus {
  background-color: hsl(173, 61%, 77%);
  color: hsl(183, 100%, 15%);
}
#input-section #custom-tip {
  border: none;
  border-radius: 5px;
  background-color: hsl(189, 47%, 97%);
  font-family: "Space Mono", monospace;
  font-size: 1.5rem; /* 24px */
  line-height: 2.25rem; /* 36px */
  letter-spacing: 0rem;
  color: hsl(180, 18%, 40%);
  text-align: center;
  height: 3rem;
  max-width: 116px;
}

#output-section {
  background-color: hsl(183, 100%, 15%);
  border-radius: 15px;
  color: hsl(0, 100%, 100%);
  min-width: 25.8rem;
  padding: 1.5rem 2rem;
}/*# sourceMappingURL=style.css.map */